// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$fullwhite: #FFFFFF;
$redhearth: #D23333;
$lewagonorange: #da552f;
$light-gray: #616668;
$strong-white: #E6E6E6;
$flex-white: #999999;
